<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC connection -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@dbmanage.lab.ii.agh.edu.pl:1521:DBMANAGE</property>
        <property name="hibernate.connection.username">BD_423125</property>
        <property name="hibernate.connection.password">st5873</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>

        <!-- Logging -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Auto schema update (tylko na start!) -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mappings -->
        <mapping class="pl.uczelnia.model.Game"/>
    </session-factory>
</hibernate-configuration>
